<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sampledoctorsapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleDoctorsApp">
        <activity android:name=".VideoCall"></activity>
        <activity
            android:name=".fragments.AudioCall"
            android:label="@string/title_activity_audio_call"
            android:theme="@style/Theme.SampleDoctorsApp.NoActionBar" />
        <activity android:name=".DoctorDetails" />
        <activity android:name=".TimeSlotActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".BookAppointmentActivity" />
        <activity android:name=".GettingStartedActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>